header{
    display: flex;
    flex-direction: row;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    
}
h1{
    font-size: 4rem;
    color:darkolivegreen;
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 8rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}
.choices button:hover{
    background-color: hsl(0, 0%, 50%);
}
#playerDisplay, #computerDisplay{
    font-size: 3rem;
}
#resultDisplay{
    font-size: 6rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 3rem;
}
.greenText, #playerScoreDisplay{
    color: green;
}
.redText, #computerScoreDisplay{
    color: red;
}